* {
    margin: 0px;
    padding: 0px;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    width: fit-content;
}

.square {
    width: 60px;
    height: 60px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: red;
}

.circle {
    background-color: pink;
    border-radius: 50%;
}

.selected {
    box-shadow: inset 0 0 0 5px hotpink;
    transition: 0.2s;
}
/* #_______________________________________________________________# */
/*                             COLORS                                */
/* #_______________________________________________________________# */

.white {
    /* background-color: #f0d9b5; */
    background-color: rgb(233, 233, 233);
}

.white:hover {
    background-color: rgb(234, 205, 235);

}

.black {
    /* background-color: #b58863; */
    background-color: #1a1a1a;
}

.black:hover {
    background-color: #271c25;

}